$base: zzy;
$baseQuestionEM: 28;
@function computerQuestionEM($value) {
  @return ($value / $baseQuestionEM) * 1em;
}
@mixin bgCompose {
  background-repeat: no-repeat;
  background-size: 100%;
}
.#{$base}-show-question {
  @include bgCompose;
  background-image: url(../../asserts/show-question-bg.png);
  width: computerQuestionEM(565);
  height: computerQuestionEM(610);
  box-sizing: border-box;
  padding: computerQuestionEM(52) computerQuestionEM(15) computerQuestionEM(18);
  margin-right: computerQuestionEM(30);
  position: relative;
  .question-bottom {
    background-image: url(../../asserts/practice-bottom.png);
    @include bgCompose;
    position: absolute;
    left: computerQuestionEM(16);
    bottom: computerQuestionEM(18);
    width: computerQuestionEM(532);
    height: computerQuestionEM(72);
  }
  .question-block {
    height: computerQuestionEM(513);
    max-height: computerQuestionEM(513);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    .question-tag {
      position: absolute;
      background-image: url(../../asserts/practice-flag.png);
      @include bgCompose;
      left: computerQuestionEM(145);
      top: computerQuestionEM(12);
      width: computerQuestionEM(36);
      height: computerQuestionEM(16);
    }
    .question-view {
      display: flex;
      flex-direction: column;
      padding: 0 computerQuestionEM(20);
      transition: all 0.3s ease;
    }
  }
  .base-color {
    color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
  }
  .change-color {
    color: #fff;
  }
  .base-item {
    padding-bottom: computerQuestionEM(33);
  }
}