.#{$base}-show-question {
  @include bgCompose;
  background-image: url(../asserts/show-question-bg.png);
  width: computerQuestionEM(565);
  height: computerQuestionEM(610);
  box-sizing: border-box;
  padding: computerQuestionEM(52) computerQuestionEM(15) computerQuestionEM(18);
  margin-right: computerQuestionEM(30);
  .#{$base}-question-block {
    height: computerQuestionEM(513);
    max-height: computerQuestionEM(513);
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    .#{$base}-question-view {
      display: flex;
      flex-direction: column;
      padding: 0 computerQuestionEM(20);
      transition: all 0.3s ease;
    }
  }
  .#{$base}-base-color {
    color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
  }
  .#{$base}-change-color {
    color: #fff;
  }
  .#{$base}-base-item {
    padding-bottom: computerQuestionEM(33);
  }
}