@import './base.scss';
@import './show-question.scss';
@import './keyword.scss';
@import './katex-math-div.scss';
@import './katex-base.scss';
@import './math-quill-base.scss';
.#{$base}-container {
  font-size: inherit;
  display: flex;
  align-items: center;
}

